@page
@model ExternalLoginsModel
@{
	ViewData["Title"] = "Manage your external logins";
	ViewData["ActivePage"] = ManageNavPages.ExternalLogins;
}

<partial name="_StatusMessage" for="StatusMessage" />
@if (Model.CurrentLogins?.Count > 0)
{
	<h4>Registered Logins</h4>
	<table class="table registered-logins">
		<tbody>
			@foreach (var login in Model.CurrentLogins)
			{
				<tr>
					<td id="@($"login-provider-{login.LoginProvider}")">
						@{
							switch(login.ProviderDisplayName)
							{
								case "Google":
								case "Facebook":
								case "Twitter":
								case "GitHub":
									break;
								default:
									@login.ProviderDisplayName
									break;
							}
						}
					</td>
					<td>
						@if (Model.ShowRemoveButton)
						{
							<form id="@($"remove-login-{login.LoginProvider}")" method="post" action="~/Identity/Account/Manage/ExternalLogins?handler=RemoveLogin">
								<div>
									<input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
									<input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />
									<button type="submit" class="btn btn-danger" title="Remove this @login.ProviderDisplayName login from your account">Remove</button>
								</div>
							</form>
						}
						else
						{
							@: &nbsp;
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
}
@if (Model.OtherLogins?.Count > 0)
{
	<h4>Add another service to log in.</h4>
	<hr />
	<form id="link-login-form" method="post" class="form-horizontal" action="~/Identity/Account/Manage/ExternalLogins?handler=LinkLogin">
		<div id="external-account">
			<p>
				@foreach (var provider in Model.OtherLogins)
				{
					switch(provider.DisplayName)
					{
						case "Google":
						case "Facebook":
						case "Twitter":
						case "GitHub":
							<button id='@($"link-login-button-{provider.Name}")' type="submit" name="provider" value="@provider.Name" title='Log in using your @provider.DisplayName account' class="btn btn-outline-primary"></button>
							break;
						default:
							<button id='@($"link-login-button-{provider.Name}")' type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title='Log in using your @provider.DisplayName account'>
								@provider.DisplayName
							</button>
							break;
					}
				}
			</p>
		</div>
	</form>
}