@page
@model LoginModel
@{
	ViewData["Title"] = "login.title";
}

@section headElements
{
	<environment include="Development">
        <link rel="stylesheet" href="~/css/icons.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/icons.min.css" asp-append-version="true" />
    </environment>
}

<h2 data-i18n="login.title">Log in</h2>
<div class="row">
	<div class="col-md-6">
		<section>
			<h4 data-i18n="login.useLocalAccount">Use a local account to log in.</h4>
			<hr />
			<form id="account" method="post" class="row g-3">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Input.Email" class="form-label" data-i18n="login.email"></label>
					<input asp-for="Input.Email" class="form-control" data-i18n="[placeholder]login.emailPlaceholder" required type="email" />
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Input.Password" class="form-label" data-i18n="login.password"></label>
					<input asp-for="Input.Password" class="form-control" data-i18n="[placeholder]login.passwordPlaceholder" required type="password" minlength="6" />
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label asp-for="Input.RememberMe" class="form-label">
							<input class="form-check-input" asp-for="Input.RememberMe" />
							@* @Html.DisplayNameFor(m => m.Input.RememberMe) *@
							<span data-i18n="login.rememberMe">Remember me?</span>
						</label>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary" data-i18n="login.loginButton">Log in</button>
				</div>
				<div class="form-group">
					<p>
						<a id="forgot-password" href="ForgotPassword" data-i18n="login.forgotPassword">Forgot your password?</a>
					</p>
					<p>
						<a href="~/Identity/Account/Register?returnUrl=@Model.ReturnUrl" data-i18n="login.registerNewUser">Register as a new user</a>
					</p>
				</div>
			</form>
		</section>
	</div>
	<div class="col-md-6">
		<section>
			<h4 data-i18n="login.useExternalService">Use another service to log in.</h4>
			<hr />
			@{
				if ((Model.ExternalLogins?.Count ?? 0) == 0)
				{
					<div>
						<p data-i18n="[html]login.noExternalServices">
							There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
							for details on setting up this ASP.NET application to support logging in via external services.
						</p>
					</div>
				}
				else
				{
					<form id="external-account" action="~/Identity/Account/ExternalLogin?returnUrl=@Model.ReturnUrl" method="post" class="row g-3">
						<div>
							<p>
								@foreach (var provider in Model.ExternalLogins)
								{
									switch(provider.DisplayName)
									{
										case "Google":
										case "Facebook":
										case "Twitter":
										case "GitHub":
											<button type="submit" name="provider" value="@provider.Name" title='Log in using your @provider.DisplayName account' id='@($"link-login-button-{provider.Name}")' class="btn btn-outline-primary"></button>
											break;
										default:
											<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title='Log in using your @provider.DisplayName account'>
												@provider.DisplayName
											</button>
											break;
									}
								}
							</p>
						</div>
					</form>
				}
			}
		</section>
	</div>
</div>
