@model Bogus.Faker
<h2>Contact.</h2>

<h4>@Html.Raw(ViewData["Message"])</h4>

<address>
	@Model.Address.StreetName()<br />
	@Model.Address.City(), @Model.Address.StateAbbr() @Model.Address.ZipCode()<br />
	<abbr title="Phone">P:</abbr>
	@Model.Phone.PhoneNumber()
</address>
<address>
@{ 
	string email0 = Model.Internet.ExampleEmail(), email1 = Model.Internet.ExampleEmail();
}
	<strong>Support:</strong> <a href="mailto:@email0">@email0</a><br />
	<strong>Marketing:</strong> <a href="mailto:@email1">@email1</a>
</address>
