@model IEnumerable<Blog>
@inject  Microsoft.Extensions.Configuration.IConfiguration Conf
@{
	ViewBag.Title = "Blogs";
}

<h2>@ViewData["Title"]</h2>
<p>
	<a href="@Conf["AppRootPath"]Blogs/Create">Create New</a>
</p>

<table class="table">
	<tr><th>Id</th><th>Url</th></tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.BlogId)
			</td>
			<td>
				@await Html.PartialAsync("BlogPartial", item)
			</td>
		</tr>
	}
</table>

@section scripts
{
	<script type="text/javascript">
		$(function () {
			//$('form').validate({
			$.validator.setDefaults({
				debug: true,
				submitHandler: function (form) {
					FormSubmit(form); return false;
					//alert('submitted'); return false;
				}
			});
		});

		function FormSubmit(form) {
			var tr = $(form).parents('tr:first');
			var id = $(form).data('id');
			var url = $(form).find('#inp_' + id).val();
			var action = $(form).find("input[type=submit]:focus").val();
			var delete_action = '@(BlogActionEnum.Delete)';

			if (action != delete_action && (url == '' || url == tr.find('span.displaying').text()))
				return;

			var hedrs = { 'RequestVerificationToken': $(form).find('input[name="__RequestVerificationToken"]').val() }
			var serialized_form = $(form).serialize();

			$.ajax({
				method: action == delete_action ? 'DELETE' : 'POST',
				url: '@Conf["AppRootPath"]Blogs/' + action + '/' + id + '/true',
				dataType: 'json',
				data: action == delete_action ? 'action=' + delete_action : serialized_form,
				headers: action == delete_action ? hedrs : null
			}).done(function (blog, textStatus, jqXHR) {
				if (blog == "error") {
					alert("error");
					return;
				}
				else if (blog == "deleted") {
					$(tr).remove();
					return;
				}

				var edit = $(form).find('.edit');
				edit.val(blog.url);
				var span = tr.find('span.displaying');
				span.text(blog.url);
			}).fail(function (jqXHR, textStatus, errorThrown) {
				alert("error: " + textStatus + " " + errorThrown);
			});
		}
	</script>
	@await Html.PartialAsync("_ValidationScriptsPartial")
}
