@page
@model LoginModel
@{
	ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
	<div class="col-md-4">
		<section>
			<form id="account" method="post">
				<h4>Use a local account to log in.</h4>
				<hr />
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Input.Email"></label>
					<input asp-for="Input.Email" class="form-control" />
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Input.Password"></label>
					<input asp-for="Input.Password" class="form-control" />
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label asp-for="Input.RememberMe">
							<input asp-for="Input.RememberMe" />
							@Html.DisplayNameFor(m => m.Input.RememberMe)
						</label>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Log in</button>
				</div>
				<div class="form-group">
					<p>
						<a id="forgot-password" href="ForgotPassword">Forgot your password?</a>
					</p>
					<p>
						<a href="~/Identity/Account/Register?returnUrl=@Model.ReturnUrl">Register as a new user</a>
					</p>
				</div>
			</form>
		</section>
	</div>
	<div class="col-md-6 col-md-offset-2">
		<section>
			<h4>Use another service to log in.</h4>
			<hr />
			@{
				if ((Model.ExternalLogins?.Count ?? 0) == 0)
				{
					<div>
						<p>
							There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
							for details on setting up this ASP.NET application to support logging in via external services.
						</p>
					</div>
				}
				else
				{
					<form id="external-account" action="~/Identity/Account/ExternalLogin?returnUrl=@Model.ReturnUrl" method="post" class="form-horizontal">
						<div>
							<p>
								@foreach (var provider in Model.ExternalLogins)
								{
									if (provider.DisplayName == "Google")
									{
										<button type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"
												class="btn btn-outline-primary" style="border:none;width:80px;height:72px">
											<img src="https://developers.google.com/identity/images/g-logo.png" alt="@provider.DisplayName sign-in"
												 style="height:60px" />
										</button>
									}
									else if (provider.DisplayName == "Facebook")
									{
										<button type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"
												class="btn btn-outline-primary" style="border:none;width:80px;height:72px">
											<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg">
												<defs>
													<style type="text/css">
														.cls-1 { fill: #4267b2; }
														.cls-2 { fill: #fff; }
													</style>
												</defs>
												<title>Log in using your @provider.DisplayName account</title>
												<path class="cls-1" d="M54.8,0H3.2A3.2,3.2,0,0,0,0,3.2V54.8A3.2,3.2,0,0,0,3.2,58H31V35.57H23.45V26.79H31V20.33c0-7.49,4.58-11.57,11.26-11.57A64.2,64.2,0,0,1,49,9.1v7.83h-4.6c-3.64,0-4.35,1.72-4.35,4.26v5.59h8.7l-1.13,8.78H40V58H54.8A3.2,3.2,0,0,0,58,54.8V3.2A3.2,3.2,0,0,0,54.8,0Z" />
												<path id="f" class="cls-2" d="M40,58V35.57h7.57l1.13-8.78H40V21.2c0-2.54.71-4.26,4.35-4.26H49V9.1a64.2,64.2,0,0,0-6.75-.34C35.56,8.76,31,12.84,31,20.33v6.46H23.45v8.78H31V58Z" />
											</svg>
										</button>
									}
									else if (provider.DisplayName == "Twitter")
									{
										<button type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"
												class="btn btn-outline-primary" style="border:none;width:80px;height:70px">
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
												 style="height:70px" viewBox="0 0 500 500" xml:space="preserve">
												<style type="text/css">
													.st0 { fill: #1DA1F2; }
													.st1 { fill: #FFFFFF; }
												</style>
												<g>
													<path class="st0" d="M350,400H50c-27.6,0-50-22.4-50-50V50C0,22.4,22.4,0,50,0h300c27.6,0,50,22.4,50,50v300
															C400,377.6,377.6,400,350,400z" />
												</g>
												<g>
													<path class="st1" d="M153.6,301.6c94.3,0,145.9-78.2,145.9-145.9c0-2.2,0-4.4-0.1-6.6c10-7.2,18.7-16.3,25.6-26.6
															c-9.2,4.1-19.1,6.8-29.5,8.1c10.6-6.3,18.7-16.4,22.6-28.4c-9.9,5.9-20.9,10.1-32.6,12.4c-9.4-10-22.7-16.2-37.4-16.2
															c-28.3,0-51.3,23-51.3,51.3c0,4,0.5,7.9,1.3,11.7c-42.6-2.1-80.4-22.6-105.7-53.6c-4.4,7.6-6.9,16.4-6.9,25.8
															c0,17.8,9.1,33.5,22.8,42.7c-8.4-0.3-16.3-2.6-23.2-6.4c0,0.2,0,0.4,0,0.7c0,24.8,17.7,45.6,41.1,50.3c-4.3,1.2-8.8,1.8-13.5,1.8
															c-3.3,0-6.5-0.3-9.6-0.9c6.5,20.4,25.5,35.2,47.9,35.6c-17.6,13.8-39.7,22-63.7,22c-4.1,0-8.2-0.2-12.2-0.7
															C97.7,293.1,124.7,301.6,153.6,301.6" />
												</g>
											</svg>
										</button>
									}
									else
									{
										<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
									}
								}
							</p>
						</div>
					</form>
				}
			}
		</section>
	</div>
</div>
@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}