@page
@model EFGetStarted.AspNetCore.ExistingDb.Models.WebCamGallery
@{
	Layout = @"..\Views\Shared\_Layout.cshtml";
	ViewData["Title"] = "WebCam Gallery";
}
@section headElements
{
	<link rel="stylesheet" href="~/lib/blueimp-gallery/css/blueimp-gallery.min.css" />
	<link rel="stylesheet" href="~/lib/video.js/dist/video-js.css" />
	<style type="text/css">
		#links a > img.active {
			width: 133px;
			height: 100px;
		}
		#links a > img.inactive {
			width: 133px;
			height: 100px;
		}
		.vjs-default-skin .vjs-big-play-button {
			top: 50%;
			left: 50%;
			margin: -1em auto auto -2em;
			width: 80px;
			height: 50px;
		}
	</style>
}

@{
	if (!string.IsNullOrEmpty(Model.LiveWebCamURL))
	{
		<a onclick="document.getElementById('live').src = '@Model.LiveWebCamURL' + '?' + Math.random()" title='live'>
			<img src='@Model.LiveWebCamURL' id='live' alt='live' />
		</a>
	}

	if (!string.IsNullOrEmpty(Model.TimelapsVideoURL))
	{
		<!-- Begin VideoJS -->
		<div class="video-js-box">
			<video id="example_video_1" width="1280" height="960" class="video-js vjs-default-skin" controls preload="auto" poster="@Model.TimelapsVideoURL/poster.jpeg" data-setup="{}">
				<source src="@Model.TimelapsVideoURL/video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
				<source src="@Model.TimelapsVideoURL/video.webm" type='video/webm; codecs="vp8, vorbis"' />
			</video>
		</div>
		<!-- End VideoJS -->
	}

	if (Model.Jpgs != null)
	{
		@:<div id="links">
		int i = 0;
		foreach (var jpg in Model.Jpgs)
		{
			var name = jpg.Name;
			if (i++ < 7)
			{
				<a href="~/WebCamImages/@name" title="@jpg.LastWriteTime">
					<img src="~/WebCamImages/@name" alt="@name" class='active' onmouseover='ReplImg(this);' />
				</a>
			}
			else
			{
				<a href="~/WebCamImages/@name" title="@jpg.LastWriteTime">
					<img src='https://haos.hopto.org/webcamgallery/images/no_img.gif' alt='no img' class='inactive' onmouseover='ReplImg(this);' />
				</a>
			}
		}
		@:</div>
		<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
			<div class="slides"></div>
			<h3 class="title"></h3>
			<a class="prev">‹</a>
			<a class="next">›</a>
			<a class="close">×</a>
			<a class="play-pause"></a>
			<ol class="indicator"></ol>
		</div>
	}
}

@section Scripts
{
	<script type="text/javascript" src="~/lib/blueimp-gallery/js/blueimp-gallery.min.js"></script>
	<script type="text/javascript" src="~/lib/video.js/dist/video.min.js"></script>
	<script type="text/javascript">
		document.getElementById('links').onclick = function (event) {
			event = event || window.event;
			var target = event.target || event.srcElement,
				link = target.src ? target.parentNode : target,
				options = {index: link, event: event},
				links = this.getElementsByTagName('a');
			blueimp.Gallery(links, options);
		};

		function ReplImg(This)
		{
			if (This.tagName != 'IMG')
			{
				This.firstChild.src = This.href;
				This.firstChild.class = 'active';
			}
			else
			{
				This.src = This.parentNode.href;
				This.class = 'active';
			}
		}
	</script>
}
