@page
@inject Lib.AspNetCore.ServerTiming.IServerTiming serverTiming
@inject Microsoft.Extensions.Configuration.IConfiguration Conf
@model WebCamGallery
@{
	Model.Watch.Restart();
	Layout = @"..\Views\Shared\_Layout.cshtml";
	ViewData["Title"] = "WebCam Gallery";
}
@section headElements
{
	<environment include="Development">
		<link rel="stylesheet" href="~/lib/blueimp-gallery/css/blueimp-gallery.min.css" />
		<link rel="stylesheet" href="~/lib/video.js/dist/video-js.min.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/3.0.0/css/blueimp-gallery.min.css" integrity="sha256-66SKXqIzSii4XMH5MlpUHLhLhVuPWkaJcgpnaC1imR4=" crossorigin="anonymous"
			  asp-fallback-href="~/lib/blueimp-gallery/css/blueimp-gallery.min.css"
			  asp-fallback-test-class="blueimp-gallery" asp-fallback-test-property="position" asp-fallback-test-value="fixed" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/video.js@7.8.3/dist/video-js.min.css" integrity="sha256-/fXfq3QrnWyMYmF0zX6ImdI1DTraNCAq1vPofa2rs2w=" crossorigin="anonymous"
			  asp-fallback-href="~/lib/video.js/dist/video-js.min.css"
			  asp-fallback-test-class="video-js" asp-fallback-test-property="position" asp-fallback-test-value="relative" />
	</environment>
	<style type="text/css">
		#links a > img {
			width: 133px;
			height: 100px;
		}
		#links a {
			text-decoration: none;
		}
		.vjs-default-skin .vjs-big-play-button {
			top: 50%;
			left: 50%;
			margin: -1em auto auto -2em;
			width: 80px;
			height: 50px;
		}
		/* Extra large devices (large desktops, 1200px and up) */
		@@media (min-width: 1200px) {
			.video-js-box {
				width: 1280px !important;
				height: 960px !important;
			}
			#live.img-fluid {
				max-width: 1280px !important;
			}
		}
	</style>
}

<p id="secretAction" style="display: none">
	<button id="btnAnnualMovieGenerator" type="button" class="btn btn-primary" value="Generate"
		data-toggle="collapse" data-target="#divAnnualMovieGenerator" aria-expanded="false" aria-controls="divAnnualMovieGenerator"
  		title="Show all annual movie clips" disabled>Annual movie clips</button>
</p>
<div class="collapse card card-body" id="divAnnualMovieGenerator">
    <table id="tbAnnualMovieGenerator" class="table table-sm table-striped table-borderless table-hover"></table>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
	@{
		if (!string.IsNullOrEmpty(Model.LiveWebCamURL))
		{
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#live-tab" role="tab" aria-controls="live-tab" aria-selected="true">Live</a>
			</li>
		}
		if (!string.IsNullOrEmpty(Model.BaseWebCamURL))
		{
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#video-tab" role="tab" aria-controls="video-tab" aria-selected="false">Daily video</a>
			</li>
        }
        if (Model.YouTubePlaylistId != null)
        {
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#youtube-tab" role="tab" aria-controls="youtube-tab" aria-selected="false">Youtube videos</a>
			</li>
        }
		if (Model.ThumbnailJpgs != null)
		{
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#gallery-tab" role="tab" aria-controls="gallery-tab" aria-selected="false">Gallery</a>
			</li>
		}
	}
</ul>

<div class="tab-content">
@{
	if (!string.IsNullOrEmpty(Model.LiveWebCamURL))
	{
  		<div class="tab-pane active" id="live-tab" role="tabpanel" aria-labelledby="live-tab">
			<a onclick="RefreshLiveImage()" title='live' style="width:1280px; height:960px">
				<img id='live' alt='live' width="1280" height="960" class="img-fluid" data-last-modified="" src="~/images/no_img.svg" />
			</a>
		</div>
	}
	if (!string.IsNullOrEmpty(Model.BaseWebCamURL))
	{
  		<div class="tab-pane" id="video-tab" role="tabpanel" aria-labelledby="video-tab">
			<!-- Begin VideoJS -->
			<div class="video-js-box">
				<video width="1280" height="960" class="video-js vjs-default-skin vjs-4-3 vjs-fluid vjs-big-play-centered"
					controls preload="none" poster="@Model.BaseWebCamURL/poster.jpeg" data-setup="{}">
					<source src="@Model.BaseWebCamURL/video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
					<source src="@Model.BaseWebCamURL/video.webm" type='video/webm; codecs="vp8, vorbis"' />
				</video>
			</div>
			<!-- End VideoJS -->
		</div>
    }
    if (Model.YouTubePlaylistId != null)
    {
		<div class="tab-pane embed-responsive embed-responsive-4by3" id="youtube-tab" role="tabpanel" aria-labelledby="youtube-tab">
			<iframe width="1280" height="960" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
				data-src="https://www.youtube.com/embed?listType=playlist&list=@(Model.YouTubePlaylistId)&autoplay=0" style="display:none"
				allowfullscreen loading="lazy"></iframe>
		</div>
    }
	if (Model.ThumbnailJpgs != null)
	{
		@:<div class="tab-pane" id="gallery-tab" role="tabpanel" aria-labelledby="gallery-tab">
			<button id="btnReplAllImg" type="button" class="btn btn-primary btn-sm" value="strng" title="Load all images" disabled>Load all</button>
			@:<div id="links">
			int i = 0;
			foreach (var jpg in Model.ThumbnailJpgs)
			{
				var thumbnail = jpg.Name;
				var full = thumbnail.Replace("thumbnail", "out");
				if (i++ < 7)
				{
					<a href="~/WebCamImages/@full" title="@jpg.LastWriteTime.ToString("u")">
						<img alt="@thumbnail" class='active' />
					</a>
				}
				else
				{
					<a href="~/WebCamImages/@full" title="@jpg.LastWriteTime.ToString("u")">
						<img alt='no img' class='inactive' />
					</a>
				}
			}
			@:</div>
			<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
				<div class="slides"></div>
				<h3 class="title"></h3>
				<a class="prev">‹</a>
				<a class="next">›</a>
				<a class="close">×</a>
				<a class="play-pause"></a>
				<ol class="indicator"></ol>
			</div>
		@:</div>
	}
}
</div>

@section Scripts
{
	<environment include="Development">
		<script type="text/javascript" src="~/lib/blueimp-gallery/js/blueimp-gallery.min.js"></script>
		<script type="text/javascript" src="~/lib/video.js/dist/video.min.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/3.0.0/js/jquery.blueimp-gallery.min.js" integrity="sha256-snd77KO/z87/yEbGO6D4/Yoc1Di0Q2kT2h6s8oo6k+o=" crossorigin="anonymous"
				asp-fallback-src="~/lib/blueimp-gallery/js/blueimp-gallery.min.js"
				asp-fallback-test="window.jQuery && window.blueimp"></script>
		<script src="https://cdn.jsdelivr.net/npm/video.js@7.8.3/dist/video.min.js" integrity="sha256-DaFmYarvFEicQLhakUwOuX+16FfCmXnUI+jfFWIruBk=" crossorigin="anonymous"
				asp-fallback-src="~/lib/video.js/dist/video.min.js"
				asp-fallback-test="window.jQuery && videojs.options"></script>
	</environment>
    <script type="text/javascript">
		$(document).ready(function () {

			//bluimp-gallery handling
			$('#links').click(function (event) {
				event = event || window.event;
				const target = event.target || event.srcElement,
					link = target.src ? target.parentNode : target,
					options = {
						index: link,
						event: event,
						onopen: function () {
							// Callback function executed when the Gallery is initialized
							ReplAllImg();
						},
					},
					links = this.getElementsByTagName('a');
				blueimp.Gallery(links, options);
			});

			$("img.inactive").each(function (index, value) {
				//$(value).mouseover(ReplImg);
				value.onmouseover = ReplImg;
                value.src = g_AppRootPath + 'images/no_img.svg';
			});

			$('#btnReplAllImg').click(function (event) {
				ReplAllImg();
			});
            const liveImgAddr = g_AppRootPath + 'WebCamImages/?handler=live';

            window.onpopstate = function (event) {
				//console.log("location: " + document.location + ", state: " + JSON.stringify(event.state));
				const name = (event.state ? event.state.foo : location.hash) || "#live-tab";
                const tab = $("#myTab a[href='" + name + "']");
                if (tab !== undefined)
                    tab.tab('show');

                if (name === '#gallery-tab') {
                    $('#btnReplAllImg').prop('disabled', false);
                    LoadFirstGallerImages();
				}
                else if (name === '#live-tab') {
                    $('#live').attr('src', liveImgAddr);
				}
				else if (name === '#youtube-tab') {
					LoadYouTubeIFrame();
                }
                else
                    $('#btnReplAllImg').prop('disabled', true);
            };
            if (location.hash !== undefined && location.hash.length > 0)
			{
                const name = location.hash;
				const tab = $("#myTab a[href='" + name + "']");
				if (tab !== undefined)
					tab.tab('show');

				if (name === '#gallery-tab') {
					$('#btnReplAllImg').prop('disabled', false);
					LoadFirstGallerImages();
				}
                else if (name === '#youtube-tab') {
                    LoadYouTubeIFrame();
                }
				else
					$('#btnReplAllImg').prop('disabled', true);
			}
			else
				$('#btnReplAllImg').prop('disabled', true);
			if($("#myTab a[href='#gallery-tab']").hasClass('active'))
			{
				$('#btnReplAllImg').prop('disabled', false);
				LoadFirstGallerImages();
			}
			else if ($("#myTab a[href='#youtube-tab']").hasClass('active'))
			{
                LoadYouTubeIFrame();
            }
			else if($("#myTab a[href='#live-tab']").hasClass('active'))
			{
                $('#live').attr('src', liveImgAddr);
			}
			$("#myTab a").on('click', function (e) {
				if (e.target.hash !== undefined)
				{
					if (e.target.hash.indexOf('gallery-tab') !== -1) {
						$('#btnReplAllImg').prop('disabled', false);
						LoadFirstGallerImages();
                    }
                    else if (e.target.hash.indexOf('live-tab') !== -1) {
                        $('#live').attr('src', liveImgAddr);
						$('#btnReplAllImg').prop('disabled', true);
					}
                    else if (e.target.hash.indexOf('youtube-tab') !== -1) {
                        LoadYouTubeIFrame();
					}
					else
						$('#btnReplAllImg').prop('disabled', true);

					const addr = e.target.hash;
					let stateObj = {
						foo: addr
					};
					window.history.pushState(stateObj, addr, addr);
				}
			});

			const enableAnnualMovieGenerator = JSON.parse('@Model.EnableAnnualMovieGenerator'.toLowerCase());
			if (enableAnnualMovieGenerator === true)
			{
				$('#btnAnnualMovieGenerator').prop('disabled', false).on('click', function (event) {
					if(event.target.attributes['aria-expanded'].value !== 'true') {
						event.target.disabled = 'disabled';
						GenerateAnnualMovie(event);
					}
					$('#divAnnualMovieGenerator').collapse('toggle');
				});
				$('#secretAction').show();
			}
			else
			{
				$('#secretAction').hide();
			}
		});

		function LoadFirstGallerImages()
		{
			$('img.active:not([src])').each(function (index, value) {
                //value.onmouseover = ReplImg;
				const img = $(value);
				const alt = img.attr('alt');
                if (alt && alt !== 'no img')
					img.attr('src', g_AppRootPath + 'WebCamImages/' + alt);
            });
		}

		function LoadYouTubeIFrame()
		{
            Array.prototype.slice.call(document.querySelectorAll("#youtube-tab iframe:not([src])")).forEach(function(ytb) {
				ytb.style.display = 'block';
				ytb.src = ytb.dataset.src;
            });
        }

        function ReplImg(event)
		{
			const el = event.currentTarget;
			if (el.tagName != 'IMG')
			{
				el.firstChild.src = el.href.replace("out", "thumbnail");
				el.firstChild.class = 'active';
			}
			else
			{
				el.src = el.parentNode.href.replace("out", "thumbnail");
                el.classList.remove("inactive");
                el.classList.add('active');
			}
		}

		function ReplAllImg()
		{
			$("img.inactive").each(function (index, value) {
				ReplImg(value);
			});
		}

		var last_refresh = new Date();
		function LoadImageAsBinaryArray(img)
		{
			img.setAttribute('data-last-modified', 'refreshing');

			// Simulate a call to Dropbox or other service that can
			// return an image as an ArrayBuffer.
			var xhr = new XMLHttpRequest();
			// Use JSFiddle logo as a sample image to avoid complicating
			// this example with cross-domain issues.
			xhr.open("GET", g_AppRootPath + "WebCamImages/?handler=live", true);
			xhr.setRequestHeader('Cache-Control', 'no-cache');
			// Ask for the result as an ArrayBuffer.
			xhr.responseType = "arraybuffer";
			xhr.onload = function (e) {
				// Obtain a blob: URL for the image data.
				var arrayBufferView = new Uint8Array(this.response);
				var blob = new Blob([arrayBufferView], { type: "image/jpeg" });

				var hdr_last_modified = this.getResponseHeader('Last-Modified');

				var urlCreator = window.URL || window.webkitURL;
				var imageUrl = urlCreator.createObjectURL(blob);
				img.onload = function() {
					urlCreator.revokeObjectURL(this.src);
				}
				img.src = imageUrl;
				img.setAttribute('data-last-modified', hdr_last_modified);

				last_refresh = new Date();
			};
			xhr.send();
		}

		function RefreshLiveImage()
		{
			//document.getElementById('live').src = '/WebCamImages/?handler=live&' + Math.random();
			var live = document.querySelector("#live");
			if (live != null)
			{
				var data_last_modified = live.getAttribute('data-last-modified');
				if (data_last_modified != "refreshing")
				{
					var now = new Date();
					var secs_between = (now - last_refresh) * 0.001;
					var msg = String(secs_between) + ' secs elapsed since last live-image load';
					if (secs_between > @(MjpgStreamerHttpClient.LiveImageExpireTimeInSeconds))
					{
						msg += ', reloading!';
						LoadImageAsBinaryArray(live);
					}
					console.log(msg);
				}
				else
					console.log('still reloading!');
			}
		}

		function GenerateAnnualMovie(event)
		{
			const hedrs = { 'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val() }
			const serialized_bag = JSON.stringify({ Result: "query", Product: ["qqq","xxxx","yyyy","zzzzzz"] });
			$('#tbAnnualMovieGenerator').html(
				'<thead><tr>' +
					'<th scope="col">#</th>' +
					'<th scope="col">Name</th>' +
					'<th scope="col">Hash</th>' +
					'<th scope="col">Date</th>' +
				'</tr></thead><caption>Loading...</caption><tbody></tbody>'
			);

			$.ajax({
				method: 'POST',
				url: 'AnnualTimelapse/?handler=SecretAction',
				contentType: "application/json",
				dataType: 'json',
				data: serialized_bag,
				headers: hedrs
			}).done(function (response, textStatus, jqXHR) {
				console.log(response);
				if (response.Result == "error") {
					alert("error");
					return;
				}
				//const stringified = JSON.stringify(response.product, null, 2);
				//display.text(stringified);

                $('#tbAnnualMovieGenerator caption').remove();
				$(response.product).each(function (index, item) {
                    $('#tbAnnualMovieGenerator tbody').append(
						'<tr>' +
							'<td>' + item[0] + '</td>' +
							'<td>' + item[1] + '</td>' +
							'<td>' + item[2] + '</td>' +
							'<td>' + item[3] + '</td>' +
						'</tr>'
                    );
                });
			}).fail(function (jqXHR, textStatus, errorThrown) {
				alert("error: " + textStatus + " " + errorThrown);
				$('#tbAnnualMovieGenerator').html('');
			}).always(function() {
				event.target.disabled = '';
			});
		}

    </script>
}
@{ 
	serverTiming.Metrics.Add(new Lib.AspNetCore.ServerTiming.Http.Headers.ServerTimingMetric("view", Model.Watch.ElapsedMilliseconds, "after view is generated"));
}
