@page
@inject Lib.AspNetCore.ServerTiming.IServerTiming serverTiming
@inject Microsoft.Extensions.Configuration.IConfiguration Conf
@model WebCamGallery
@{
	Model.Watch.Restart();
	Layout = @"..\Views\Shared\_Layout.cshtml";
	ViewData["Title"] = "WebCam Gallery";
}
@section headElements
{
	<environment include="Development">
		<link rel="stylesheet" href="~/lib/blueimp-gallery/css/blueimp-gallery.min.css" />
		<link rel="stylesheet" href="~/lib/video.js/dist/video-js.min.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/3.0.0/css/blueimp-gallery.min.css" integrity="sha256-66SKXqIzSii4XMH5MlpUHLhLhVuPWkaJcgpnaC1imR4=" crossorigin="anonymous"
			  asp-fallback-href="~/lib/blueimp-gallery/css/blueimp-gallery.min.css"
			  asp-fallback-test-class="blueimp-gallery" asp-fallback-test-property="position" asp-fallback-test-value="fixed" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/video.js@7.8.3/dist/video-js.min.css" integrity="sha256-/fXfq3QrnWyMYmF0zX6ImdI1DTraNCAq1vPofa2rs2w=" crossorigin="anonymous"
			  asp-fallback-href="~/lib/video.js/dist/video-js.min.css"
			  asp-fallback-test-class="video-js" asp-fallback-test-property="position" asp-fallback-test-value="relative" />
	</environment>
	<style type="text/css">
		#links a > img {
			width: 133px;
			height: 100px;
		}
		#links a {
			text-decoration: none;
		}
		.vjs-default-skin .vjs-big-play-button {
			top: 50%;
			left: 50%;
			margin: -1em auto auto -2em;
			width: 80px;
			height: 50px;
		}
		/* Extra large devices (large desktops, 1200px and up) */
		@@media (min-width: 1200px) {
			.video-js-box {
				width: 1280px !important;
				height: 960px !important;
			}
			#live.img-fluid {
				max-width: 1280px !important;
			}
		}
	</style>
}

<p id="secretAction" style="display: none">
	<button id="btnAnnualMovieGenerator" type="button" class="btn btn-primary" value="Generate"
		data-toggle="collapse" data-target="#divAnnualMovieGenerator" aria-expanded="false" aria-controls="divAnnualMovieGenerator"
  		title="Show all annual movie clips" disabled>Annual movie clips</button>
</p>
<div class="collapse card card-body" id="divAnnualMovieGenerator">
    <table id="tbAnnualMovieGenerator" class="table table-sm table-striped table-borderless table-hover"></table>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
	@{
		if (!string.IsNullOrEmpty(Model.LiveWebCamURL))
		{
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#live-tab" role="tab" aria-controls="live-tab" aria-selected="true">Live</a>
			</li>
		}
		if (!string.IsNullOrEmpty(Model.BaseWebCamURL))
		{
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#video-tab" role="tab" aria-controls="video-tab" aria-selected="false">Daily video</a>
			</li>
        }
        if (Model.YouTubePlaylistId != null)
        {
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#youtube-tab" role="tab" aria-controls="youtube-tab" aria-selected="false">Youtube videos</a>
			</li>
        }
		if (Model.ThumbnailJpgs != null)
		{
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#gallery-tab" role="tab" aria-controls="gallery-tab" aria-selected="false">Gallery</a>
			</li>
		}
	}
</ul>

<div class="tab-content">
@{
	if (!string.IsNullOrEmpty(Model.LiveWebCamURL))
	{
  		<div class="tab-pane active" id="live-tab" role="tabpanel" aria-labelledby="live-tab">
			<a onclick="RefreshLiveImage(@(MjpgStreamerHttpClient.LiveImageExpireTimeInSeconds))" title='live' style="width:1280px; height:960px">
				<img id='live' alt='live' width="1280" height="960" class="img-fluid" data-last-modified="" src="~/images/no_img.svg" />
			</a>
		</div>
	}
	if (!string.IsNullOrEmpty(Model.BaseWebCamURL))
	{
  		<div class="tab-pane" id="video-tab" role="tabpanel" aria-labelledby="video-tab">
			<!-- Begin VideoJS -->
			<div class="video-js-box">
				<video width="1280" height="960" class="video-js vjs-default-skin vjs-4-3 vjs-fluid vjs-big-play-centered"
					controls preload="none" poster="@Model.BaseWebCamURL/poster.jpeg" data-setup="{}">
					<source src="@Model.BaseWebCamURL/video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
					<source src="@Model.BaseWebCamURL/video.webm" type='video/webm; codecs="vp8, vorbis"' />
				</video>
			</div>
			<!-- End VideoJS -->
		</div>
    }
    if (Model.YouTubePlaylistId != null)
    {
		<div class="tab-pane embed-responsive embed-responsive-4by3" id="youtube-tab" role="tabpanel" aria-labelledby="youtube-tab">
			<iframe width="1280" height="960" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
				data-src="https://www.youtube.com/embed?listType=playlist&list=@(Model.YouTubePlaylistId)&autoplay=0" style="display:none"
				allowfullscreen loading="lazy"></iframe>
		</div>
    }
	if (Model.ThumbnailJpgs != null)
	{
		@:<div class="tab-pane" id="gallery-tab" role="tabpanel" aria-labelledby="gallery-tab">
			<button id="btnReplAllImg" type="button" class="btn btn-primary btn-sm" value="strng" title="Load all images" disabled>Load all</button>
			@:<div id="links">
			int i = 0;
			foreach (var jpg in Model.ThumbnailJpgs)
			{
				var thumbnail = jpg.Name;
				var full = thumbnail.Replace("thumbnail", "out");
				if (i++ < 7)
				{
					<a href="~/WebCamImages/@full" title="@jpg.LastWriteTime.ToString("u")"><img alt="@thumbnail" class='active' /></a>
				}
				else
				{
					<a href="~/WebCamImages/@full" title="@jpg.LastWriteTime.ToString("u")"><img alt='no img' class='inactive' /></a>
				}
			}
			@:</div>
			<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
				<div class="slides"></div>
				<h3 class="title"></h3>
				<a class="prev">‹</a>
				<a class="next">›</a>
				<a class="close">×</a>
				<a class="play-pause"></a>
				<ol class="indicator"></ol>
			</div>
		@:</div>
	}
}
</div>

@section Scripts
{
	<environment include="Development">
		<script type="text/javascript" src="~/lib/blueimp-gallery/js/blueimp-gallery.min.js"></script>
		<script type="text/javascript" src="~/lib/video.js/dist/video.min.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/3.0.0/js/jquery.blueimp-gallery.min.js" integrity="sha256-snd77KO/z87/yEbGO6D4/Yoc1Di0Q2kT2h6s8oo6k+o=" crossorigin="anonymous"
				asp-fallback-src="~/lib/blueimp-gallery/js/blueimp-gallery.min.js"
				asp-fallback-test="window.jQuery && window.blueimp"></script>
		<script src="https://cdn.jsdelivr.net/npm/video.js@7.8.3/dist/video.min.js" integrity="sha256-DaFmYarvFEicQLhakUwOuX+16FfCmXnUI+jfFWIruBk=" crossorigin="anonymous"
				asp-fallback-src="~/lib/video.js/dist/video.min.js"
				asp-fallback-test="window.jQuery && videojs.options"></script>
	</environment>
    <script type="text/javascript">

		var last_refresh = new Date();

		$(document).ready(function () {
			WebCamGalleryOnLoad(JSON.parse('@Model.EnableAnnualMovieGenerator'.toLowerCase()));
		});

    </script>
}
@{ 
	serverTiming.Metrics.Add(new Lib.AspNetCore.ServerTiming.Http.Headers.ServerTimingMetric("view", Model.Watch.ElapsedMilliseconds, "after view is generated"));
}
