@page
@model WebCamGallery
@{
	Layout = @"..\Views\Shared\_Layout.cshtml";
	ViewData["Title"] = "WebCam Gallery";
}
@section headElements
{
	<environment include="Development">
		<link rel="stylesheet" href="~/lib/blueimp-gallery/css/blueimp-gallery.min.css" />
		<link rel="stylesheet" href="~/lib/video.js/dist/video-js.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/blueimp-gallery@2.30.0/css/blueimp-gallery.min.css"
			  asp-fallback-href="~/lib/blueimp-gallery/css/blueimp-gallery.min.css"
			  asp-fallback-test-class="blueimp-gallery" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
			  integrity="sha256-Y0i7rzAjNSxOrq/x6gK6k0OeK1V2WNWwjh0/l+KapNk=" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/video.js@6.6.3/dist/video-js.min.css"
			  asp-fallback-href="~/lib/video.js/dist/video-js.css"
			  asp-fallback-test-class="video-js" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
			  integrity="sha256-DNGk8kIkk+qHvV2WVsOCbcswekeLHR2kB3I6AdoKGWc=" crossorigin="anonymous" />
	</environment>
	<style type="text/css">
		#links a > img {
			width: 133px;
			height: 100px;
		}
		.vjs-default-skin .vjs-big-play-button {
			top: 50%;
			left: 50%;
			margin: -1em auto auto -2em;
			width: 80px;
			height: 50px;
		}
	</style>
}

@{
	if (!string.IsNullOrEmpty(Model.LiveWebCamURL))
	{
		<a onclick="document.getElementById('live').src = '@Model.LiveWebCamURL' + '?' + Math.random()" title='live'>
			<img src='@Model.LiveWebCamURL' id='live' alt='live' />
		</a>
	}

	if (!string.IsNullOrEmpty(Model.TimelapsVideoURL))
	{
		<!-- Begin VideoJS -->
		<div class="video-js-box">
			<video id="example_video_1" width="1280" height="960" class="video-js vjs-default-skin" controls preload="auto" poster="@Model.TimelapsVideoURL/poster.jpeg" data-setup="{}">
				<source src="@Model.TimelapsVideoURL/video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
				<source src="@Model.TimelapsVideoURL/video.webm" type='video/webm; codecs="vp8, vorbis"' />
			</video>
		</div>
		<!-- End VideoJS -->
	}

	if (Model.Jpgs != null)
	{
		<button id="btnReplAllImg" type="button" class="btn btn-default" value="strng" title="Load all images">Load all</button>
		@:<div id="links">
			int i = 0;
			foreach (var jpg in Model.Jpgs)
			{
				var name = jpg.Name;
				if (i++ < 7)
				{
					<a href="~/WebCamImages/@name" title="@jpg.LastWriteTime">
						<img src="~/WebCamImages/@name" alt="@name" class='active' onmouseover='ReplImg(this);' />
					</a>
				}
				else
				{
					<a href="~/WebCamImages/@name" title="@jpg.LastWriteTime">
						<img src='https://haos.hopto.org/webcamgallery/images/no_img.gif' alt='no img' class='inactive' onmouseover='ReplImg(this);' />
					</a>
				}
			}
		@:</div>
		<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
			<div class="slides"></div>
			<h3 class="title"></h3>
			<a class="prev">‹</a>
			<a class="next">›</a>
			<a class="close">×</a>
			<a class="play-pause"></a>
			<ol class="indicator"></ol>
		</div>
	}
}

@section Scripts
{
	<environment include="Development">
		<script type="text/javascript" src="~/lib/blueimp-gallery/js/blueimp-gallery.min.js"></script>
		<script type="text/javascript" src="~/lib/video.js/dist/video.min.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="https://cdn.jsdelivr.net/npm/blueimp-gallery@2.30.0/js/blueimp-gallery.min.js"
				asp-fallback-src="~/lib/blueimp-gallery/js/blueimp-gallery.min.js"
				asp-fallback-test="window.jQuery && window.blueimp"
				integrity="sha256-w3YQk45ZaiQHeRGeJOXG9J+Z41uW+FisGSLwRg/URQw=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/video.js@6.6.3/dist/video.min.js"
				asp-fallback-src="~/lib/video.js/dist/video.min.js"
				asp-fallback-test="window.jQuery && videojs.options"
				integrity="sha256-/XiWLi6np/WaxpyJkrGwGtDNQGmsnk8L+sErpqff+us=" crossorigin="anonymous"></script>
	</environment>
	<script type="text/javascript">
		$(document).ready(function () {

			$('#links').click(function (event) {
				event = event || window.event;
				var target = event.target || event.srcElement,
					link = target.src ? target.parentNode : target,
					options = { index: link, event: event },
					links = this.getElementsByTagName('a');
				blueimp.Gallery(links, options);
			});

			$('#btnReplAllImg').click(function (event) {
				$(".inactive").each(function (index, value) {
					ReplImg(value);
				});
			});
		});

		function ReplImg(This)
		{
			if (This.tagName != 'IMG')
			{
				This.firstChild.src = This.href;
				This.firstChild.class = 'active';
			}
			else
			{
				This.src = This.parentNode.href;
				This.class = 'active';
			}
		}
	</script>
}
