@using Microsoft.Extensions.Options
@inject Microsoft.Extensions.Configuration.IConfiguration Conf
@inject IOptions<DotnetPlayground.DBConfigShower> DBConfigShowerOptions
@{
	string dbs_config = DBConfigShowerOptions.Value.DBConfig;
}
<!DOCTYPE html>
<html lang="en">
<script type="text/javascript">
	const theme = localStorage.getItem('bs-theme') || 'system';
	if (theme !== 'system')
		document.documentElement.setAttribute('data-bs-theme', theme);
</script>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="Description" content="Dotnet Core examples, tests and experiments pages" data-i18n="[content]head.meta.desc" />
	<meta name="referrer" content="no-referrer" />
	<link rel="manifest" href="~/manifest.json" />
	<link rel="icon" type="image/x-icon" href="~/images/favicon.png" />
	<link rel="apple-touch-icon" href="~/images/favicon.png" />
	<title>@ViewData["Title"] - @Conf["AppTitleName"]</title>
	<environment include="Development">
		<meta name="theme-color" content="darkslateblue" />
		<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	</environment>
	<environment exclude="Development">
		<meta name="theme-color" content="darkred" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" integrity="sha256-zzPh8NflvEInFbVSzLYGVMLOn0j0kfsjq/UlNeMBRYw=" crossorigin="anonymous"
			  asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
			  asp-fallback-test-class="visually-hidden" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
	@RenderSection("headElements", required: false)
</head>
<body>
	<header class="container">
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-my-theme">
			<div class="container">
				<span id="offlineIndicator"></span>
				<a href="~/" class="navbar-brand" role="button" title="@dbs_config">@Environment.MachineName</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav me-auto">
						<li class="nav-item dropdown" style="min-width:5.25em">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
								role="button" aria-haspopup="true" aria-expanded="false" data-i18n="nav.items.main.name">Main</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="~/" data-i18n="nav.items.main.home">Home</a>
								<a class="dropdown-item" href="~/Home/UnintentionalErr/" data-i18n="nav.items.main.unintentional">Unintentional Error</a>
								<environment names="Development">
								<a class="dropdown-item" href="~/ViewCodeGenerator" data-i18n="nav.items.main.codeGenerator">View Code Generator</a>
								</environment>
								<a class="dropdown-item" href="~/Home/About" data-i18n="nav.items.main.about">About</a>
								<a class="dropdown-item" href="~/Home/Contact" data-i18n="nav.items.main.contact">Contact</a>
							</div>
						</li>
						<li class="nav-item dropdown" style="min-width:4.3em">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
								role="button" aria-haspopup="true" aria-expanded="false" data-i18n="nav.items.blogs.name">Blogs</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="~/Blogs" data-i18n="nav.items.blogs.list">List</a>
								<a class="dropdown-item" href="~/Blogs/Create" data-i18n="nav.items.blogs.create">Create</a>
							</div>
						</li>
						<li class="nav-item dropdown" style="min-width:9em">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
								role="button" aria-haspopup="true" aria-expanded="false" data-i18n="nav.items.myRainbow.name">My Rainbow</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="~/Hashes/" data-i18n="nav.items.myRainbow.hashes">Hashes</a>
								<a class="dropdown-item" href="~/BruteForce/" data-i18n="nav.items.myRainbow.bruteForce">Brute Force</a>
								<a class="dropdown-item" href="~/VirtualScroll/" data-i18n="nav.items.myRainbow.virtualScroll">Virtual Scroll</a>
							</div>
						</li>
						<li class="nav-item dropdown" style="min-width:6em">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="~/WebCamGallery"
								role="button" aria-haspopup="true" aria-expanded="false" data-i18n="nav.items.webCam.name">WebCam</a>
							<div class="dropdown-menu">
								<cache>
								@if (!string.IsNullOrEmpty(Conf["LiveWebCamURL"]))
								{
									<a class="dropdown-item" href="~/WebCamGallery" data-i18n="nav.items.webCam.live">Live</a>
								}
								@if (!string.IsNullOrEmpty(Conf["BaseWebCamURL"]))
								{
									<a class="dropdown-item" href="~/WebCamGallery#video-tab" data-i18n="nav.items.webCam.dailyVideo">Daily video</a>
								}
								@if (!string.IsNullOrEmpty(Conf["YouTubeAPI:playlistId"]))
								{
									<a class="dropdown-item" href="~/WebCamGallery#youtube-tab" data-i18n="nav.items.webCam.youtube">Youtube videos</a>
								}
								@if (!string.IsNullOrEmpty(Conf["ImageDirectory"]))
								{
									<a class="dropdown-item" href="~/WebCamGallery#gallery-tab" data-i18n="nav.items.webCam.gallery">Gallery</a>
								}
								</cache>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
								role="button" aria-haspopup="true" aria-expanded="false" data-i18n="nav.items.inkBall.name">InkBall</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="~/InkBall/Home" data-i18n="nav.items.inkBall.home">Home</a>
								<a class="dropdown-item" href="~/InkBall/GamesList" id="aInkList" data-i18n="nav.items.inkBall.gameList">Game list</a>
								<a class="dropdown-item" href="~/InkBall/Game" id="aInkGame" data-i18n="nav.items.inkBall.game">Game</a>
								<a class="dropdown-item" href="~/InkBall/Highscores" id="aInkGameHigh" data-i18n="nav.items.inkBall.highscores">Highscores</a>
								<a class="dropdown-item" href="~/Identity/Account/Register" id="aInkRegister" data-i18n="nav.items.inkBall.register">Register</a>
								<a class="dropdown-item" href="~/InkBall/Rules" data-i18n="nav.items.inkBall.Rules">Rules</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" title="Work in progress" data-bs-toggle="dropdown" href="#"
								role="button" aria-haspopup="true" aria-expanded="false" data-i18n="nav.items.wip.name;[title]nav.items.wip.long">WIP...</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="~/PuzzleGenerator" data-i18n="nav.items.wip.puzzle">Puzzle Generator</a>
								<environment names="Development">
								<a class="dropdown-item" href="~/BeepExperiment" data-i18n="nav.items.wip.beep">Beep Experiment</a>
								</environment>
								<a class="dropdown-item" href="~/ImportCsv" data-i18n="nav.items.wip.importCsv">Import CSV</a>
							</div>
						</li>
					</ul>
					<ul class="navbar-nav ms-auto">
						<partial name="_LoginPartial" />

						<button id="themeSwitcher" type="button" class="btn text-start system" title="System" aria-label="System" data-i18n="[title]nav.themeSwitcher.system"></button>

						<li class="nav-item dropdown" id="langDropdown" title="Change language" data-i18n="[title]nav.langDropdown.changeLang">
							<button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img alt="English" title="en" data-i18n="[alt]nav.langDropdown.flag_alt;[title]nav.langDropdown.selectedFlag" />
							</button>
							<div class="dropdown-menu dropdown-menu-end dropdown-menu-start">
								<button class="dropdown-item" type="button" title='en'>
									<img alt="English" data-i18n="[alt]nav.langDropdown.en" />
									<span data-i18n="nav.langDropdown.en">English</span>
								</button>
								<button class="dropdown-item" type="button" title='pl'>
									<img alt="Polish" data-i18n="[alt]nav.langDropdown.pl" />
									<span data-i18n="nav.langDropdown.pl">Polish</span>
								</button>
							</div>
						</li>

					</ul>
				</div>
			</div>
		</nav>
	</header>
	<main class="container body-content">
		@RenderBody()
		<hr />
	</main>
	<footer class="container">
		<noscript data-i18n="footer.noscript">Your browser does not support JavaScript! REALLY?!</noscript>
		<p id="spVersion">&copy; 2025 - @Conf["AppTitleName"]</p>
	</footer>
	<environment include="Development">
		<script src="~/lib/jquery/jquery.min.js"></script>
		<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="~/lib/i18next/i18next.min.js"></script>
		<script src="~/lib/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js"></script>
		<script src="~/lib/i18next-http-backend/i18nextHttpBackend.min.js"></script>
		<script src="~/lib/loc-i18next/loc-i18next.min.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
		@*This is the fix, to enforce manual loading, but why? https://github.com/dotnet/aspnetcore/issues/39715 *@
		@* <script src="/_framework/aspnetcore-browser-refresh.js"></script> *@
	</environment>
	<environment exclude="Development">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous"
			asp-fallback-src="~/lib/jquery/jquery.min.js"
			asp-fallback-test="$">
		</script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha256-ORBCb//WwUWwNh+EjsvO97snO3mAJ1+jhMzrlPBTYSQ=" crossorigin="anonymous"
			asp-fallback-src="~/lib/bootstrap/js/bootstrap.bundle.min.js"
			asp-fallback-test="window.bootstrap">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/i18next/25.0.2/i18next.min.js" integrity="sha512-gU72C13wQKyrU6WLnZaSNlE1ipHeRw9XsjIc4jhAhvbrgQToWF84AmnCMb4fEwGsvmD1bckL1acXoAouzbdgzw==" crossorigin="anonymous" referrerpolicy="no-referrer"
			asp-fallback-src="~/lib/i18next/i18next.min.js"
			asp-fallback-test="window.i18next">
		</script>
		<script src="https://cdn.jsdelivr.net/npm/loc-i18next@0.1.6/dist/umd/loc-i18next.min.js" integrity="sha256-i/XkMNtFWXAgVw4xvk2Lx0SY+195DWTuHYBwYn4LXzo=" crossorigin="anonymous"
			asp-fallback-src="~/lib/loc-i18next/loc-i18next.min.js"
			asp-fallback-test="window.locI18next">
		</script>
		<script src="https://cdn.jsdelivr.net/npm/i18next-browser-languagedetector@8.1.0/i18nextBrowserLanguageDetector.min.js" integrity="sha256-StQM8gEaopE6hJwmY+AgpvnfMpoGpf8uJJdM0Nd7p/Q=" crossorigin="anonymous" referrerpolicy="no-referrer"
			asp-fallback-src="~/lib/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js"
			asp-fallback-test="window.i18nextBrowserLanguageDetector">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/i18next-http-backend/3.0.2/i18nextHttpBackend.min.js" integrity="sha512-RYgVA7vVuFPjAksuk9TPraxVuJvdB5sF3KkbHdPkh47Bw2/q4wfiO67yU/btAG6k8t6qg7bY0VRHddW0/JcEsw==" crossorigin="anonymous" referrerpolicy="no-referrer"
			asp-fallback-src="~/lib/i18next-http-backend/i18nextHttpBackend.min.js"
			asp-fallback-test="window.i18nextHttpBackend">
		</script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

	@RenderSection("scripts", required: false)
</body>
</html>
