@using Microsoft.Extensions.Options
@inject Microsoft.Extensions.Configuration.IConfiguration Conf
@inject IOptions<DBConfigShower> DBConfigShowerOptions
@{
	string dbs_config = DBConfigShowerOptions.Value.DBConfig;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="Description" content="Dotnet core examples, tests and experiments pages" />
    <link rel="manifest" href="~/manifest.json" />
    <link rel="icon" type="image/x-icon" href="~/images/favicon.png" />
    <link rel="apple-touch-icon" href="~/images/favicon.png" />
    <title>@ViewData["Title"] - @Conf["AppTitleName"]</title>
    <environment include="Development">
        <meta name="theme-color" content="darkslateblue" />
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <meta name="theme-color" content="darkred" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha256-7ZWbZUAi97rkirk4DcEp4GWDPkWpRMcNaEyXGsNXjLg=" crossorigin="anonymous" 
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="visually-hidden" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="false" />
    </environment>
    @RenderSection("headElements", required: false)
</head>
<body>
    <header class="container">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-my-theme">
            <div class="container">
                <span id="offlineIndicator"></span>
                <a href="~/" class="navbar-brand" role="button" title="@dbs_config">@Environment.MachineName</a>
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Main</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="~/">Home</a>
                                <a class="dropdown-item" href="~/Home/UnintentionalErr/">Unintentional Error</a>
                                <environment names="Development">
                                <a class="dropdown-item" href="~/ViewCodeGenerator">View Code Generator</a>
                                </environment>
                                <a class="dropdown-item" href="~/Home/About">About</a>
                                <a class="dropdown-item" href="~/Home/Contact">Contact</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Blogs</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="~/Blogs">List</a>
                                <a class="dropdown-item" href="~/Blogs/Create">Create</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">My Rainbow</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="~/Hashes/">Hashes</a>
                                <a class="dropdown-item" href="~/BruteForce/">Brute Force</a>
                                <a class="dropdown-item" href="~/VirtualScroll/">Virtual Scroll</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="~/WebCamGallery" role="button" aria-haspopup="true" aria-expanded="false">WebCam</a>
                            <div class="dropdown-menu">
                                <cache>
                                @if (!string.IsNullOrEmpty(Conf["LiveWebCamURL"]))
                                {
                                    <a class="dropdown-item" href="~/WebCamGallery">Live</a>
                                }
                                @if (!string.IsNullOrEmpty(Conf["BaseWebCamURL"]))
                                {
                                    <a class="dropdown-item" href="~/WebCamGallery#video-tab">Daily video</a>
                                }
                                @if (!string.IsNullOrEmpty(Conf["YouTubeAPI:playlistId"]))
                                {
                                    <a class="dropdown-item" href="~/WebCamGallery#youtube-tab">Youtube videos</a>
                                }
                                @if (!string.IsNullOrEmpty(Conf["ImageDirectory"]))
                                {
                                    <a class="dropdown-item" href="~/WebCamGallery#gallery-tab">Gallery</a>
                                }
                                </cache>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">InkBall</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="~/InkBall/Home">Home</a>
                                <a class="dropdown-item" href="~/InkBall/GamesList" id="aInkList">Game list</a>
                                <a class="dropdown-item" href="~/InkBall/Game" id="aInkGame">Game</a>
                                <a class="dropdown-item" href="~/InkBall/Highscores" id="aInkGameHigh">Highscores</a>
                                <a class="dropdown-item" href="~/Identity/Account/Register" id="aInkRegister">Register</a>
                                <a class="dropdown-item" href="~/InkBall/Rules">Rules</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" title="Work in progress" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">WIP...</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="~/PuzzleGenerator">Puzzle Generator</a>
                                <a class="dropdown-item" href="~/BeepExperiment">Beep Experiment</a>
                            </div>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <main class="container body-content">
        @RenderBody()
        <hr />
    </main>
    <footer class="container">
        <noscript>Your browser does not support JavaScript! REALLY?!</noscript>
        <p id="spVersion">&copy; 2022 - @Conf["AppTitleName"]</p>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="false"></script>
        @*This is the fix, to enforce manual loading, but why? https://github.com/dotnet/aspnetcore/issues/39715 *@
        <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha256-wMCQIK229gKxbUg3QWa544ypI4OoFlC2qQl8Q8xD8x8=" crossorigin="anonymous"
                asp-fallback-src="~/lib/bootstrap/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.bootstrap">
        </script>
        <script src="~/js/site.min.js" asp-append-version="false"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
